@import "src/styles/variable.css";

.adding{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(242, 246, 248);
}
.adding .logo{
    margin: 40px;
}
.adding .content{
    width: 80%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 50px;
}
.adding .choice, .adding .didi{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}
.adding .logout{
    height: 40px;
    padding: 2px 24px;
    background-color: var(--g1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}


.adding .addi{
    padding: 10px 70px;
    background-color: var(--g2);
}


.adding .addm{
    padding: 10px 70px;
    background-color: var(--bg);
}


.adding .kkkk{
    margin-top: 50px;
}