@import "src/styles/variable.css";

.addmeal{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(242, 246, 248);
}
.addmeal .logo{
    margin: 40px;
}
.addmeal .content{
    width: 80%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 50px;
}
.addmeal .choice, .addmeal .didi{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.addmeal .logout{
    height: 40px;
    padding: 2px 24px;
    background-color: var(--g1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

.addmeal .addm{
    padding: 10px 70px;
    background-color: var(--g2);
}


.addmeal .addi{
    padding: 10px 70px;
    background-color: var(--bg);
}
.addmeal .dt1{
    width: 100%;
    display: flex;
    align-items: center;
}

.addmeal .dt11{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 400px;
    margin-right: 80px;
    height: 250px;
}

.addmeal .dtt3{
    width: 1000px;
}

.addmeal .dtt3{
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 80px;
}