@import "src/styles/variable.css";
.mealdetail {
  justify-content: space-around;
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  background-color: white;
  width: 80%;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.mealdetail .pics {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
  border-radius: 20px;
}
.mealdetail .detail {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 40px 0;
}

.mealdetail .txts {
  width: 520px;
  margin-right: 10%;
}
.mealdetail .txts h3 {
  margin-bottom: 10px;
}
.mealdetail .txts h4 {
  margin-right: 20px;
}
.mealdetail .txts .time {
  display: flex;
}

.mealdetail .txts .time {
  margin-top: 20px;
}

.mealdetail .amt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 20px 0;
}

.mealdetail .pricing span {
  margin-right: 20px;
}

.price .am {
  font-weight: 700;
  font-size: 20px;
}
.ctrl {
  display: flex;
  align-items: center;
}

.control-btn {
  background-color: var(--g1);
  color: rgb(255, 255, 255);
  border: 1px solid white;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin: 0 5px;
}

.pricing .ctrl input[type="text"] {
  width: 50px;
  padding: 5px 0;
  text-align: center;
  border: 1px solid var(--g2);
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
}

.mealdetail .pricing {
  display: flex;
  padding: 10px;
  width: 320px;
  font-weight: 300;
  flex-direction: column;
  align-items: center;
  background-color: var(--g1);
  color: white;
  border-radius: 10px;
}

.mealdetail .pricing .btn {
  color: black;
  font-weight: 700;
  padding: 6px 0;
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--g2);
  border-radius: 5px;
  cursor: pointer;
}
.divider {
  width: 95%;
  margin-bottom: 20px;
  border: 1px solid #ededed;
  margin: 0 20px;
}

.mealdetail h2 {
  margin: 0 0 15px 50px;
  font-size: 32px;
}

.mealdetail .inglis {
  display: flex;
  flex-wrap: wrap;
}
