@import "src/styles/variable.css";

.profile {
  width: 45%;
  border: 1px solid rgb(209, 200, 200);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
.profile .edit-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.edit-button button {
  margin: 20px;
  font-size: 14px;
  width: 80px;
  font-weight: 500;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: var(--g2);
  padding: 7px 25px;
  border-radius: 3px;
}
.profile button:hover {
  transform: scale(1.03);
}
.profile-main {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 14px;
}
.profile-info {
  margin: 50px;
}
.profile-info-item {
  margin: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profile-info-item .pfpinfo {
  font-weight: 600;
  margin-right: 80px;
}
