.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(168, 163, 163, 0.7);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 10;
}

.popup-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(1px);
  z-index: -1;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 7%;
  text-align: start;
}

.custom {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.custom th,
.custom td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid gray;
}

.totalprice {
  font-weight: 400;
}

.total-row td {
  font-weight: bold;
  padding: 10px;
  border-bottom: none;
}

.delete-btn {
  background-color: #ec221f;
  color: white;
  width: 19px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.checkout-btn,
.close-btn {
  background-color: #003032;
  padding: 7px 35px;
  width: 170px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  border-radius: 3px;
  border: none;
  margin: 10px;
}

.close-btn {
  background-color: #ec221f;
}

.checkout-btn:hover,
.close-btn:hover,
.delete-btn:hover {
  transform: scale(1.03);
}

button {
  cursor: pointer;
}
