@import "src/styles/variable.css";

.dropdown-menu {
  position: absolute;
  top: 80px;
  right: 70px;
  width: 200px;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  z-index: 5;
}

.dropdown-menu a {
  display: block;
  border: 1px solid var(--stroke);
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  white-space: nowrap;
}

.dropdown-menu a:hover {
  background-color: var(--g1);
  color: white;
}
