@import "src/styles/variable.css";
@font-face {
    font-family: 'Khuja';
    src: url('src/assets/Khuja.otf') format('opentype');
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    align-items: center;
    background-color: white;
}

.logo{
    font-size: 32px;
    font-family: "Khuja", sans-serif ;
    color: var(--g1);
}

.navbar .page{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* on selected */
.navbar .page .home{
    font-size: 18px;
    color: var(--g2);
    font-weight: 700;
}

.right{
    display: flex;
    align-items: center;
}
.right img{
    width: 40px;
    height: 40px;
    margin-left: 35px;
    border-radius: 50%;
}

.right .signin{
    margin-left: 35px;
    background-color: var(--g2);
    padding: 5px 25px;
    border-radius: 3px;
}