@font-face {
    font-family: 'khuja-Uppercase';
    src: url('../../assets/Fonts/Khuja-Uppercase-BF668c04acd5509.otf') format('opentype'); /* Adjusted path */
    font-weight: normal;
    font-style: normal;
}
.footer-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
}
.footer {
    display: flex;
    justify-content: space-between; 
    background-color: #003032;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    margin: 2px;
}
.left-footer {
    padding-left: 50px;
    width: 50%;
}
.right-footer {
    padding-right: 50px;
    width: 50%;
}
.left-footer h1 {
    color: #BBEA70;
    font-family: 'khuja-Uppercase', serif;
    margin-bottom: 0px;
}
.left-footer p {
    color: white;
    margin-top: 1px;
    font-size: small;
}
.right-footer h3 {
    color: white;
    margin-bottom: 8px;
}
.footer-input {
    width: 100%;
    position: relative;
}
.footer-input input[type = "text"]::placeholder{
    color: white;
}
.footer-input input[type = "text"]{
    width: 100%;
    padding: 0px 30px 0px 15px;
    box-sizing: border-box;
    height: 34px;
    border: 1px solid white;
    border-radius: 23px; 
    color: white;
    background-color: #003032;
}
.footer-input span {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: chartreuse;
    cursor: pointer;
}
