.trending {
    position: relative; 
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px 0;
}

.trending .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 48, 50, 1), rgba(0, 48, 50, 0.9), rgba(0, 48, 50, 0.6), rgba(0, 48, 50, 0.4), rgba(0, 48, 50, 0) ); 
    border-radius: 10px; 
    z-index: 1; /
}

.trending-text {
    z-index: 2; 
    color: white;
    padding: 10px;
    width: 90%; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.trending-text h2 {
    margin: 15px 45px;
    font-size: 32px;
}

.trending-details {
    margin: 0px 5px 20px 45px;
}

.trending-details h3 {
    margin-bottom: 3px;
}

.trending img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; 
}
