.receiptcard {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 70%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.receiptcard .custom-table {
  width: 100%;
  border-collapse: collapse;
}

.receiptcard .custom-table thead th {
  border-bottom: 2px solid #ddd;
  text-align: left;
  padding: 12px;
}

.receiptcard .custom-table tbody td {
  border-bottom: 1px solid #ddd;
  padding: 12px;
}

.receiptcard .custom-table tbody tr.total-row td {
  font-weight: bold;
  border-bottom: none;
}

.receiptcard .other {
  margin-top: 20px;
}

.receiptcard .tit {
  font-weight: 600;
  margin-top: 8px;
}

.receiptcard .cortit {
  margin-top: 8px;
}

.other .roww {
  display: flex;
  align-items: center;
}

.other .roww p {
  margin: 7px 10px 7px 0;
}

@media (max-width: 768px) {
  .receiptcard {
    width: 90%;
  }
}
